%nav.navbar.navbar-dark.sticky-top.bg-dark.flex-md-nowrap.p-0
  %a.navbar-brand.col-sm-3.col-md-2.mr-0{:href => "#"} Weploy Company
  %input.form-control.form-control-dark.w-80{"aria-label" => "Search", :placeholder => "Search", :type => "text"}/
  %ul.navbar-nav.px-3
    %li.nav-item.text-nowrap
      = link_to 'Sign out', destroy_user_session_path, class: 'nav-link', method: :delete

