%nav.col-md-2.d-none.d-md-block.bg-light.sidebar
  .sidebar-sticky
    %ul.nav.flex-column
      %li.nav-item
        %a.nav-link.active{:href => root_path}
          %span{"data-feather" => "home"}
          Dashboard
          %span.sr-only (current)
      %li.nav-item
        %a.nav-link{:href => timesheets_path}
          %span{"data-feather" => "file"}
          Timesheet Entries 